spring:
  application:
    name: helloworld
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommarce
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true    